# Database Configuration
# PostgreSQL
DATABASE_URL="postgresql://root:123456@localhost:5432/open_cnpj"
# SQLite (uncomment to use)
# DATABASE_URL="file:./dev.db"

# Server Configuration
PORT=3000
NODE_ENV=development
